apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-playground-be
  labels:
    app: devops-playground-be
spec:
  replicas: 1
  selector:
    matchLabels:
      app: devops-playground-be
  template:
    metadata:
      labels:
        app: devops-playground-be
    spec:
      containers:
        - name: devops-playground-be
          image: 300698/github-action:main-dc1339c
          ports:
            - containerPort: 3000
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          env:
            - name: NODE_ENV
              valueFrom:
                configMapKeyRef:
                  name: devops-playground-be-config
                  key: NODE_ENV
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: devops-playground-be-config
data:
  NODE_ENV: NODE_ENV-local-ne
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: devops-playground-be-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: devops-playground-be
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 20
