apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 58.7.2
    helm:
      values: |
        crds:
          enabled: true

        prometheusOperator:
          admissionWebhooks:
            enabled: false

        grafana:
          adminPassword: admin123
          service:
            type: ClusterIP
          defaultDashboardsEnabled: true
          ingress:
            enabled: true
            hosts:
              - grafana.local
            path: /
            pathType: Prefix

        prometheus:
          prometheusSpec:
            retention: 10d
            scrapeInterval: 15s
            evaluationInterval: 15s
            externalLabels:
              cluster: rancher-desktop

        kubelet:
          serviceMonitor:
            relabelings:
              - action: replace
                targetLabel: cluster
                replacement: rancher-desktop
            cAdvisorMetricRelabelings:
              - action: replace
                targetLabel: cluster
                replacement: rancher-desktop
              - action: replace
                sourceLabels: [pod]
                regex: (.+)
                targetLabel: container
                replacement: pod
              - action: replace
                sourceLabels: [pod]
                regex: (.+)
                targetLabel: image
                replacement: pod

        kube-state-metrics:
          prometheus:
            monitor:
              relabelings:
                - action: replace
                  targetLabel: cluster
                  replacement: rancher-desktop

        alertmanager:
          enabled: false
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - Replace=true
      - SkipHooks=true
