grafana:
  adminPassword: admin123
  service:
    type: ClusterIP
  defaultDashboardsEnabled: true

prometheus:
  prometheusSpec:
    retention: 10d
    scrapeInterval: 15s
    evaluationInterval: 15s

alertmanager:
  enabled: false
